<div class="bg-fundo"></div>
<h1 class="title">Marbles</h1>

<p class="description">Meena é uma garota muito perspicaz de Bangladesh. Ela adora criar novos jogos para poder desafiar os seus amigos e familiares.<br/>
Um dia, entediada, Meena percebeu que seu pai marcava os mármores para a reforma da casa nova com um número.<br/> 
Vendo isso, ela teve a brilhante ideia de bolar um novo jogo, chamado Marbles, e decidiu convidar você e seus amigos para participar.<br/>
<br/>
O seu desafio é: Dado um conjunto de mármores não ordenados, tente advinhar a posição correta do mármore que Meena irá te desafiar, se eles estivessem ordenados.<br/>
Dica: Meena as vezes gosta de umas peripécias e pode ser que o mármore que ela te dê não esteja na pilha de mármores. Nesse caso, você deve responder com o número 0.<br/>
<br/>
Esse problema é inspirado na questão do URI: <a href="https://www.urionlinejudge.com.br/judge/pt/problems/view/1025">Onde está o Mármore?</a>.
</p>

<br />

<mat-grid-list cols="2" rowHeight="2:1" class="mat-grid_height">
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <mat-label>Primeira palavra</mat-label>
            <input matInput type="text" [formControl]="string1FormControl">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field class="example-form-field">
            <mat-label>Segunda palavra</mat-label>
            <input matInput type="text" [formControl]="string2FormControl">
        </mat-form-field>
    </mat-grid-tile>
</mat-grid-list>

<h1 class="title">{{ result }}</h1>
