<div class="bg-fundo"></div>
<h1 class="title">Maximum Width</h1>

<p class="description">
lorem ipsun.<br/>
Esse problema é inspirado na questão <a href="https://codeforces.com/problemset/problem/1492/C">1492C do Codeforces</a>.
</p>

<br />
<br />

<div class="description">
    <mat-form-field appearance="fill">
        <mat-label>Favorite food</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="difficult">
        <mat-option *ngFor="let difficult of difficultValues" [value]="difficult">
            {{ difficult }}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="start()">Começar</button>
    <div *ngIf="response != undefined">
        <h2 class="timer">O número é: {{ response?.selectMarble }}</h2>
        <h2 class="timer">Faltam {{ subscribeTimer }} segundos</h2>
    </div>
</div>

<br />
<br />

<div class="description" *ngIf="init">
    <mat-form-field class="example-form-field">
        <mat-label>Qual a posição?</mat-label>
        <input matInput type="text" [formControl]="answer">
    </mat-form-field>
    <br />
    <button mat-raised-button (click)="confirmwAnswer()">Responder</button>
</div>

<br />
<br />

<div class="wrap-cards">
    <mat-card class="inline-block" *ngFor="let number of numbers">
      <mat-card-header>
        <mat-card-title>{{ number }}</mat-card-title>
      </mat-card-header>
     </mat-card>
</div>

<router-outlet></router-outlet>